<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item d-flex justify-content-between p-3 m-2" style="background-color: #cfcfcf; border-radius: 10px;"
         *ngFor="let recipe of recipes " >
            <div class="">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text"> {{recipe.description}} </p>
            </div>
            <div class="">
                <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-respensive" style="max-width: 70px;" >
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

